$primary-color: #1C334F;
$secondary-color: #c09440;
$primary-bg-color: #c09440;
$secondary-bg-color: #c09440;
$primary-error-color: #ff0000;
$primary-text-shadow: 2px 2px 4px #000000 !important;
$site-max-width: 1200px;
$min-height-container: 350px;